$rojo: rgb(141, 13, 13);

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: $rojo;
    color: white;
    display: flex;
    justify-content: center;
    padding-top: 50px;
  
}

.tarjeta {
    max-width: 700px;
    width: 90%;
    background: rgba(61, 7, 7, 0.25);
    padding: 40px;
    border-radius: 10px;
    backdrop-filter: blur(4px);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

h1 {
    text-align: center;
    font-family: "Creepster", cursive;
    letter-spacing: 2px;
    font-size: 3rem;
    margin-bottom: 20px;

}

h3 {
    text-align: left;
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 1.5rem;
    font-family: "Creepster", cursive;
}

p,
li {
    line-height: 1.7;
    font-size: 1rem;
    text-align: justify;
}

ul {
    padding-left: 20px;
    margin-top: 10px;
}

img {
    display: block;
    margin: 20px auto;
    max-width: 100%;
    border-radius: 8px;
    border: 2px solid white;
    &:hover {
            transform: scale(1.02); 
        }
}

.boton-contenedor {
    display: flex;
    justify-content: center; 
    margin-top: 30px;
}
button{
    background-color: $rojo;
    border: 2px solid white;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
    font-family: "Creepster", cursive;
    &:hover{
            background-color: black;
            color: $rojo;
            background-color: white;
            border: 2px solid $rojo;
            font-family: "Creepster", cursive;
    }
}
